# Data science tools and ecosystem

In this notebook Data Science Tools and Ecosystem are summarized

**Objectives:**

- list data science languages
- create a table with contents
- perform arithmetic operations
- format text

Some of the popular data science languages are

1. Python
1. SQL
1. R

Some of the commonly used data libraries used by Data scientists include:
    
1. TensorFlow
1. Caffe
1. PyTorch
1. Panda
1. Bob

| Data Science |
| :- | 
| RStudio | 
| Apache Spark | 
| Apache Hadoop |
| Tensor Flow |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
"This is a simple arithmetic operation to multiply and then add integers:"
(3*4)+5

17

In [37]:
"This cell will convert minutes to hours by dividing them by 60."

minutes = int
hours = int

minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
DK